WinProcessController/WinProcessController/FarmConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2015 sp2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IP">
    <xs:simpleType>
      <xs:restriction base="xs:string">
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="ETR">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="IP"/>
        <xs:element ref="IsSim"/>
        <xs:element ref="ManifestLocation"/>
        <xs:element ref="HasTestAgent"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Max" type="xs:short"/>
  <xs:element name="Min" type="xs:short"/>
  <xs:element name="Band">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Ranges"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Enabled" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:boolean">
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="ETRs">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ETR" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Name">
    <xs:simpleType>
      <xs:restriction base="xs:string">
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Group">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Ranges" />
      </xs:sequence>
      <xs:attribute name="Prefix" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Format" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="AdmitOk" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Ignore" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string" />
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Subscribe" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string" />
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="Beds">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Group" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unit">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Facility"/>
        <xs:element ref="Name"/>
        <xs:element ref="SupportedPatientType"/>
        <xs:element ref="Beds" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bands">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Band" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSim">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="False"/>
        <xs:enumeration value="True"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Names">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="MaleFirstNames"/>
        <xs:element ref="FemaleFirstNames"/>
        <xs:element ref="Surnames"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Range">
    <xs:complexType>
      <xs:attribute name="Start" type="xs:short" use="required"/>
      <xs:attribute name="End" type="xs:short" use="required"/>
      <xs:attribute name="Increment" type="xs:byte" use="optional" default="1"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Units">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Unit" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ranges">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Range" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Facility">
    <xs:simpleType>
      <xs:restriction base="xs:string">
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="IgnoreSims" default="True">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="True"/>
        <xs:enumeration value="False"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AutoSubscribe"  default="False">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="True"/>
        <xs:enumeration value="False"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AutoGetDeviceInfo" default="True"  >
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="True"/>
        <xs:enumeration value="False"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AutoGetPatientInfo" default="False">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="True"/>
        <xs:enumeration value="False"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="EnableMetrics"  default="True"  >
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="True"/>
        <xs:enumeration value="False"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Surnames">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FarmConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ETRs"/>
        <xs:element ref="Facility"/>
        <xs:element ref="IgnoreSims" minOccurs="0" />
        <xs:element ref="AutoSubscribe" minOccurs="0" />
        <xs:element ref="AutoGetDevice" minOccurs="0" />
        <xs:element ref="AutoGetPatient" minOccurs="0" />
        <xs:element ref="EnableMetrics" minOccurs="0" />
        <xs:element ref="Transmitters"/>
        <xs:element ref="Units"/>
        <xs:element ref="PatientTTL"/>
        <xs:element ref="AdmitDischargeInterval"/>
        <xs:element ref="UseDeviceViews"/>
        <xs:element ref="Names"/>
        <xs:element ref="GlobalTestParams"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PatientTTL">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Min"/>
        <xs:element ref="Max"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdmitDischargeInterval">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Min"/>
        <xs:element ref="Max"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UseDeviceViews">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="True"/>
        <xs:enumeration value="False"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="HasTestAgent">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="True"/>
        <xs:enumeration value="False"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Transmitters">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Bands"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MaleFirstNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FemaleFirstNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GlobalTestParams">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DischargeAllAtTestEnd"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManifestLocation" type="xs:anyURI"/>
  <xs:element name="SupportedPatientType">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Adult"/>
        <xs:enumeration value="Neonate"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DischargeAllAtTestEnd" type="xs:boolean"/>
</xs:schema>
